<div>
  <h1>A Sinatra app to access Google+</h1>
  <h3>Get Google+ Info</h3>
  <p>We shall be using Google+ to pull the given ID's information.</p>

  <form action="/show" method="post" accept-charset="utf-8">
    Enter your Google API Key: <input type="text" name="apikey" /><br />
    Enter your Google+ ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="gid" />
    <input type="submit" value=".. fetch the G+ info!">
  </form>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for Google+ by RubyLearning 20 Sept. 2011</b>.</p>
</div>

